<h1>Chat rooms</h1>

<div id="messages">
  <%= render @messages %>
</div>

<hr>

<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>

<textarea name="editor1" id="editor1" rows="10" cols="80">
  This is my textarea to be replaced with CKEditor.
</textarea>
<script>
var PAPER = {
  ck: null,

  init: function() {
    CKEDITOR.replace( 'editor1' );
    PAPER.ck = window.CKEDITOR.instances['editor1'];
  }
};

$(function() {
  PAPER.init();
});
</script>
